.a-white{
  color: white !important;
}
.input-group{
  width: 20% !important;
}
.btn-link-white{
  color: white;
  text-decoration: none;
  all:inherit;
}
.c-grey{
  background-color:rgb(128, 128, 128);
}
.diseasecard{
  
  
  background-color: rgb(227, 248, 248);

}